
.mainreceta{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
   
}

.mainreceta p{
    text-align: justify;
}

.mainreceta p, .mainreceta h1,.mainreceta h2,.mainreceta ul, .mainreceta span{
    background-color: rgba(247, 244, 235, 0.87);
}

header{
    background-image: none;
    background-color: white;
}

.fondoreceta{
    background-image: url(../imagenes/fondo.jpg);
    color: black
}

.ingredientes{
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    padding: 5px;
    text-align: center;
    justify-content: center;
}


.instrucciones{
    border: 3px solid green;
    padding: 5px;
}

.instrucciones ul{
    list-style: none;
}

.personas{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    justify-content: center;

}

.dificultat{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
